Neural Networks/.ipynb_checkpoints/
.vscode/
log/
C:\Users\Matias\Documents\GitHub\python-projects\ml-tutorial\Neural Networks\image_recognition\train_data.npy
C:\Users\Matias\Documents\GitHub\python-projects\ml-tutorial\saved.npy